<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy Hadoop/Paimon logs -->
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.paimon" level="INFO"/>
    <logger name="org.apache.paimon.table" level="INFO"/>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
